


body{
    font-family: "Outfit" "https://fonts.google.com/specimen/Outfit";
    background-color: rgba(118, 164, 213, 0.247);

}


.card__zak {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 35%;
    margin-right: 34%;
    margin-top: 54px;
    width: 30px;
    padding: 10px;
    box-sizing: border-box;
   border-radius: 25px;
  }



   
  .card-img-top{
    height:315px; 
    width:315px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    border-radius: 10px;
  }
  
.card-body{
  height:189px; 
}


.card-title{
  text-align: center;
font-style: bold;
}
  .card-text{
    line-height: 20px;
    text-align: center;
    margin-top: 21px;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
    }

  

    /* @media (min-width: 320px) and (max-width: 480px) {
    .card__zak {
    
    }
    } */

